// catppucin colors

$background: #1A1B26;
$foreground: #A9B1D6;
$accent: $foreground;

$bg: rgba($color: $background, $alpha: 0.7);
$fg: $foreground;

$black: #24283B;
$red: #F7768E;
$green: #73DACA;
$blue: #7AA2F7;
$cyan: #7DCFFF;
$magenta: #BB9AF7;
$yellow: #E0AF68;
$gray: #565F89;
$white: $foreground;

$contrastbg: #0a0a09;
$bgSecondary: $gray;
