<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="snowclient_settings.xsd">
	<Agent>
		<SiteName>FZJ</SiteName>
		<ConfigName>fzj_prod_ubuntu_standard</ConfigName>
	</Agent>

	<!-- Server end point settings to send snowpack file after agent scan -->
	<Server>
		<Endpoint>
			<Address>https://fzjsnow.its.kfa-juelich.de:443</Address>
		</Endpoint>
	</Server>

	<Logging>
		<!-- error, warning, info, trace, verbose -->
		<Level>info</Level>
		<MaxSize>1024</MaxSize>
	</Logging>

	<!-- SIOS not licensed -->
	<Oracle enabled="false">
	</Oracle>

	<Software>
		<!-- Only if Include is specified a disk scan will be initiated. -->
		<Include>
			<!-- Example: /Applications/* for OSX and  /* for Linux -->
			<Path recursive="true">/*</Path>
		</Include>
	</Software>

	<SystemSettings>
		<!-- Recommendations from Snow -->
		<!-- Storage folder for snowpacks -->
		<Setting key="env.data_dir" value="data/"/>
			<!-- Logging folder for snowagent.log -->
		<Setting key="env.log_dir" value="data/"/>

			<!-- FZJ from here -->
			<!-- Privacy -->
		<Setting key="privacy.hide_ip" value="false" />
		<Setting key="privacy.hide_user" value="false" />

			<!-- Software -->
			<!-- Scan package manager for software inventoring on Debian, SUSE, Ubuntu -->
		<Setting key="software.scan.dpkg" value="true" />
			<!-- Scan package manager for software inventoring on RedHat and CentOS-->
		<Setting key="software.scan.rpm" value="true" />
		<Setting key="Software.scan.jar" value="true" />
		<Setting key="http.ssl_verify" value="true" />
		<Setting key="http.ssl_capath" value="/etc/ssl/certs/ca-certificates.crt" />

	</SystemSettings>
</Configuration>
